* {
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}

body{
    background-color: rgb(240, 239, 239);
    font-family: 'Noto Sans', sans-serif;
}

#bg_header {
    background-color: white;
}

#main_container {
    margin-top: 35px;
    margin-left: 280px;
    margin-right: 280px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    
}

#blue_botton {
    width: 60;
    height: 60;
    background-color:rgb(13, 178, 228);
    text-align: center;
    margin-left: 35px;
    border-style: solid; border-color: rgb(13, 178, 228);
    margin-top: 12px;
    border-radius: 5px;
    
}
#white_botton {
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 80px;
    text-align: center;
    margin-left: 5px;
    border-style: solid; border-color: rgb(240, 239, 239);
    border-radius: 5px;
    margin-top: 12px;
}

#gray_line{
    color: rgb(240, 239, 239);
    margin-top: 12px;
}

.titles {
    margin-left: 35px;
    margin-top: 30px;
}

.points{
    margin-left: 35px;
    margin-top: 5px;
}

.positive {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-color: greenyellow;
    display: inline;
    background-color: white;
}

.negative {
    border: 2px solid;
    border-color: red;
    border-radius: 50%;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.blue {
    background-color: dodgerblue;
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}

.violet {
    background-color: rgb(136, 30, 136);
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}

.recruiting {
    background-color: rgb(11, 221, 158);
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}

.mobile {
    background-color: rgb(233, 159, 22);
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}

.website {
    background-color: rgb(224, 91, 169);
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}

.sales {
    background-color: rgb(143, 204, 29);
    font-size: 70%;
    padding: 4px;
    border-radius: 35px;
    text-align: center;
    margin-left: 5px;
}